<div class="alsoread">
  <p><strong>Popular posts about deploying Rails apps</strong></p>
  <p>
    <a href="/setting-up-ubuntu-20-04-focal-fossa-vps-for-rails-app-deployment">
      How to quickly provision a VPS for Rails using Chef
    </a>
    <br/>
    <a href="/deploying-rails-to-a-vps-with-capistrano-v3-and-systemd">
      Deploying with Capistrano 3
    </a>
    <br/>
    <a href="/2013/12/tailing-log-files-with-capistrano-3/">
      Tailing log files with Capistrano 3
    </a>
    <br/>
    <a href="/2013/10/using-vagrant-to-test-chef-cookbooks/">
      Using Vagrant to test Chef Cookbooks
    </a>
    <br/>
  </p>
</div>