<!-- If we want to display author's name and bio -->
{% if site.author %}
    <section class="author">
      <header> <a href="/about.html"> <img class="profile"
          src="/assets/images/profile2.jpg" alt="Ben Dixon. Without
      Aviators."></a></header>
      <article>
        <!-- Author Name -->
          <h4> {{ site.author }} </h4>
          <!-- Author Bio -->
          <p>
            I'm a developer (Elixir, Ruby, Typescript), CTO, lover of good coffee and above all, making things. Huge devops geek, especially Kubernetes, Docker and Ansible. Regular Railsconf speaker and travel addict. Co-founded <a href="https://www.catapult.com?utm_source=benblogbio" target="_blank">Catapult</a> and wrote Reliably Deploying Rails Applications. Chat to me on twitter <a href= "http://www.twitter.com/talkingquickly" target="_blank">@talkingquickly</a>
          </p>
        </article>
    </section>
{% endif %}
