<!-- If we want to display author's name and bio -->
{% if site.author %}
    <section class="author">
      <header> <a href="/about.html"> <img class="profile"
          src="/assets/images/profile2.jpg" alt="Ben Dixon. Without
      Aviators."></a></header>
      <article>
        <!-- Author Name -->
          <h4> {{ site.author }} </h4>
          <!-- Author Bio -->
          <p>
          I'm a Ruby & React Developer, CTO, lover of good coffee and making things. I'm the author of <a href="https://leanpub.com/deploying_rails_applications" target="_blank">Reliably Deploying Rails Applications</a> and currently based in London. <a href="/travel">Travel</a> addict often to be found exploring Europe, America and Asia. Co-founded <a href="https://www.joincatapult.com" target="_blank">Catapult Staffing</a>, <a target="_blank" href="https://instagram.com/talkingquicklytravels">@talkingquicklytravels</a> on instagram and <a href= "http://www.twitter.com/talkingquickly" target="_blank">@talkingquickly</a> on twitter.
          </p>
          <p>
            Catapult is creating the best part time job across Retail and Hospitality and changing the way hundred of thousands of people work. We're looking for great developers and product managers to help us on this journey, so please get in touch if this sounds like you!
          </p>
        </article>
    </section>
{% endif %}
