<section class="book">
  <header>
      <img style="width:193px"
      src="/assets/images/small_docker_cover.jpg"
      />
  </header>
  <article>
    <h4>Deploying Rails with Docker Book</h4>
    <p>The book will cover the basics of setting up production Docker containers on a single host, approaches to monitoring and how to manage service discovery when deploying across multiple hosts.</p>
    <p>To receive updates when further blog posts in the series are released as well as the book Deploying Rails with Docker, sign up below. A first draft of the book is expected to be released towards the end of 2014.</p>
    <div id="mc_embed_signup">
<form action="http://hillsbede.us5.list-manage.com/subscribe/post?u=68b84d48aa7cec1155bee1a0c&amp;id=73f32eb74a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate="">
  
  <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="height:28px;padding: 0 10px 0 10px;">

<input type="submit" value="Get Docker Updates" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #aaa;border: 0 none;border-radius: 4px;color: #FFFFFF;display: inline-block;font-size: 15px;font-weight: bold;height: 32px;line-height: 32px;margin: 0 5px 10px 10px;padding: 0 10px 0 10px;text-align: center;text-decoration: none;vertical-align: top;white-space: nowrap;width: auto;">
</form>
</div>
  
  </article>
</section>
