<section class="docker-book">
  <article>
    <h4>Get updates on the series</h4>
    <p>This blog post is part of a 2018 series on using Docker to develop and deploy Rails applications. Currently planned posts include:</p>
    <ul>
      <li>Setting up a private registry</li>
      <li>Production deployment using swarm</li>
      <li>Automatic & Free SSL with LetsEncrypt</li>
      <li>Persistent Storage and database backups</li>
    </ul>
    <p>To find out when new posts are added, please follow me on twitter <a href="https://twitter.com/talkingquickly">@talkingquickly</a>.</p>
  </article>
</section>
