<section class="travel_signup">
  <article>
    <h4>Get Email Updates</h4>
    <p>Sign up below to get notified when I post something new about travel, end up sleeping on a bench or need helping making bail...</p>
    
    <div id="mc_embed_signup">
<form action="//hillsbede.us5.list-manage.com/subscribe/post?u=68b84d48aa7cec1155bee1a0c&amp;id=506f3865c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate="">
  
  <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="height:28px;padding: 0 10px 0 10px; width: 70%;">

<input type="submit" value="Get Updates" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #aaa;border: 0 none;border-radius: 4px;color: #FFFFFF;display: inline-block;font-size: 15px;font-weight: bold;height: 32px;line-height: 32px;margin: 0 5px 10px 10px;padding: 0 10px 0 10px;text-align: center;text-decoration: none;vertical-align: top;white-space: nowrap;width: auto;">
</form>
</div>
  
  </article>
</section>
