<ol>
  <li>
    <a href="/kubernetes-sso-a-comprehensive-guide">{% include functions/tag_if_equal.html active=include.active page="contents" active_tag="strong" content="Contents and overview" %}</a>
  </li>
  <li>
    <a href="/installing-openldap-kubernetes-helm">{% include functions/tag_if_equal.html active=include.active page="openldap" active_tag="strong" content="Installing OpenLDAP" %}</a>
  </li>
  <li>
    <a href="/installing-keycloak-kubernetes-helm">{% include functions/tag_if_equal.html active=include.active page="keycloak" active_tag="strong" content="Installing Keycloak" %}</a>
  </li>
  <li>
    <a href="/keycloak-and-openldap-on-kubernetes">{% include functions/tag_if_equal.html active=include.active page="keycloak_openldap" active_tag="strong" content="Linking Keycloak and OpenLDAP" %}</a>
  </li>
  <li>
    <a href="/setting-up-oidc-login-kubernetes-kubectl-with-keycloak">{% include functions/tag_if_equal.html active=include.active page="kubernetesoidc" active_tag="strong" content="OIDC Kubectl Login with Keycloak" %}</a>
  </li>
  <li>
    <a href="/webapp-authentication-keycloak-OAuth2-proxy-nginx-ingress-kubernetes">{% include functions/tag_if_equal.html active=include.active page="webapps" active_tag="strong" content="Authenticate any web app using ingress annotations" %}</a>
  </li>
  <li>
    <a href="/gitea-sso-with-keycloak-openldap-openid-connect">{% include functions/tag_if_equal.html active=include.active page="gitea" active_tag="strong" content="Gitea (requires LDAP)" %}</a>
  </li>
  <li>
    <a href="/docker-registry-authentication-with-keycloak">{% include functions/tag_if_equal.html active=include.active page="dockerregistry" active_tag="strong" content="Simple Docker Registry" %}</a>
  </li>
  <li>
    <a href="/harbor-docker-registry-authentication-with-keycloak">{% include functions/tag_if_equal.html active=include.active page="harborregistry" active_tag="strong" content="Harbor Docker Registry with ACL" %}</a>
  </li>
  <li>Grafana - <em>coming_soon</em></li>
  <li>
    <a href="/kubernetes-sso-links">{% include functions/tag_if_equal.html active=include.active page="links" active_tag="strong" content="Useful Links" %}</a>
  </li>
</ol>