<h2>Pre-requisites</h2>

<p>This assumes you have CLI access to a Kubernetes cluster and have both Helm 3 and Kubectl installed and working locally. Finally it assumes that you're using <a href="https://kubernetes.github.io/ingress-nginx/">NGINX for Ingress</a> along with cert manager for SSL certificates with a Cluster Issuer called `letsencrypt-production`.</p>

<p>If your configuration is different, the majority of the steps will be the same, but you'll need to change the ingress definitions accordingly.</p>

<p>The source for this series of tutorials can be found here: <@todo link> and cloned with:</p>

<div class="highlight">
  <pre><code class="language-bash" data-lang="bash"><span></span>git clone @TODO LINK</code></pre>
</div>

All commands in the tutorial assume that they're being executed from the root of this cloned repository.